@font-face {
  font-family: "UAV OSD Sans Mono";
  src: url("UAV-OSD-Sans-Mono.ttf");
}

:root {
	--background: rgb(17, 17, 17);
	--main-color: rgb(49, 255, 145);
	--secondary_color: rgb(178, 178, 178);
}


html, body {
	background: var(--background);
	background-color: var(--background);
}

h1 {
	font-size: 30px;
	margin-bottom: 0px;
}

#title {
	color: var(--main-color);
}

body {
	font-family: "UAV OSD Sans Mono";
	color: white;
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
	margin-top: 200px;
	margin-left: 20%;
	min-height: 100%;
	overflow-wrap: break-word;
}

.social {
	color: var(--secondary_color);
	text-decoration: none;
	font-size: 10px;
}

.social:hover {
	color: var(--main-color);
}

.dot {
	color: rgb(92, 92, 92);
}

#link_list {
	margin-top: 40px;
}

.link {
	color: white;
	text-decoration: none;
}

.link:hover {
	color: var(--secondary_color);
}

ul {
	list-style: none;
}

li {
	margin-bottom: 40px;
}